*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.navbar{
    height: 75px;
    flex-basis: 100%;
    text-align: center;

}
.title{
    font-family: 'Bitter', serif;
    height: inherit;
    line-height: 70px;
    font-size: 32px;
    font-weight: 900;
}
.container__body{
    flex-basis: 100%;
    background-color: #EAEAEA;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.container__body>*{
    margin-top: 70px;
}
.container__body>article:last-child{
    margin-bottom: 70px;
}
.post{
    width: min-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: white;
}
.post__header{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.50rem;
}
.post__title{
    font-size: 20px;
    font-weight: 900;
}
.date{
    font-style: italic;
    font-weight: 800;
    color: rgba(128, 128, 128, 0.685);
}
.post__body{
    flex-basis: 100%;
}
.post__picture{
    object-fit: cover;
}
.post__footer{
    flex-basis: 100%;
    padding: 1.50rem;

}
.post__description{
    hyphens: auto;
}